{{#each this}}
<div class="card">
    <div class="card-body">

        <h1>{{name}}</h1>

        <span class="flex">
            <h3 class="card-title">Capital:</h3>
            <span class="cart-text">{{capital}}</span>
        </span>
        <span class="flex">
            <h3 class="card-title"> Population:</h3><span class="cart-text"> {{population}}</span>
        </span class="flex">
        {{!-- <ul class="languages-group"> --}}
        <h3 class="cart-title">Languages:</h3>
        <ul>
            {{#each languages}}
            <li class="cart-text">{{name}}</li>
            {{/each}}
            {{!-- </ul> --}}
        </ul>
    </div>
    <div class="card-img">
        <img src='{{flag}}' alt='{{name}}'>
    </div>
</div>
{{/each}}