{{#each this}}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{name}}</h1>
        <h3 class="cart-text">Capital: {{capital}}</h3>
        <h3 class="cart-text">Population: {{population}}</h3>
        <ul class="languages-group">
            <p class="cart-text">Languages:</p>
            {{#each languages}}
            <li class="cart-text">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="card-img-top">
        <img src='{{flag}}' alt='{{name}}'>
    </div>
</div>
{{/each}}